<div class="modal" [ngClass]="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title titleModal"><b>Asignar Actividad</b></p>
        <button class="delete" (click)="ocultar()" aria-label="close"></button>
      </header>
      <section class="modal-card-body sectionForm">
        <h4 style="text-align: center;"><b>Actividad: </b>{{actividad.nameActivity}}</h4>
        <app-form-asignar [actividadCarg]="actividad" (eventAsignado)="asignado($event)"></app-form-asignar>
      </section>
      <footer class="modal-card-foot">
        <button class="button btn is-info" (click)="ocultar()">Salir</button>
      </footer>
    </div>
</div>

<app-modal-message></app-modal-message>