.titleModal{
    text-align: center;
}

.sectionForm{
    padding-left: 10%;
    padding-right: 10%;
}

.btn{
    width: 50%;
}

.modalCreate{
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example {
    10% {background: transparent;}
}