<div class="modal" [ngClass]="{ 'is-active': active }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title titleModal"><b>Actividad</b></p>
        <button class="delete" (click)="ocultar()" aria-label="close"></button>
      </header>
      <section class="modal-card-body sectionForm">
        <form [formGroup]="ActsForm">
          <div class="field">
            <label class="label">Nombre De Actividad</label>
            <div class="control">
              <input class="input" type="text" placeholder="Nombre de la Actividad"
              formControlName="nombre">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Descripcion de la Actividad</label>
            <div class="control">
              <textarea class="textarea" placeholder="Por favor ingrese la descripcion de la actividad aqui"
              formControlName="descripcion"></textarea>
            </div>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-info btn" (click)="editActivity(actividad)">Editar</button>
        <button class="button btn" (click)="ocultar()">Cancelar</button>
      </footer>
    </div>
</div>

<app-edit-activity (isEvent)="isEvent()"></app-edit-activity>
